@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #4c0086;
    color: white;
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    font-style: italic;
    font-size: larger;
}

#language{
    background-color: #be69ff;
    width: 130px;
    height: 45px;
    text-align: center;
    color: white;
}

header{
    background-color: #9000ff;
}

#search{
    background-color: #6d00c0;
}

.dot{
    height: 60px;
    width: 60px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

#search i{
    font-size: 15px;
    padding: 7px;
}

#criacoes{
    justify-content: center; 
}

#conversas{
    justify-content: center; 
}

#divercao{
    justify-content: center;
}

#criacoes i{
    justify-content: center;
    font-size: 40px;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 100%;
    margin: 10px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#conversas i{
    justify-content: center;
    font-size: 40px;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 100%;
    margin: 10px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#divercao i{
    justify-content: center;
    font-size: 40px;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 100%;
    margin: 10px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#objetivos i{
    justify-content: center;
    font-size: 40px;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 100%;
    margin: 10px;
    color: black;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#contato i{
    justify-content: center;
    font-size: 40px;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 100%;
    margin: 10px;
    color: black;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#arrow{
    color: black;
    font-size: 100px;
}

#search-icon{
    font-size: 20px
}

